@model Amaze.Coin.Models.AppVm
<div style="background:#a09e9e; border:solid 1px #4cff00; padding:5px;">
    <p>Well done! We've just created a new wallet for you, and we are crediting a few initial tokens.</p>
    <p>Keep this phrase safe somewhere, it will allow you to restore it on other systems.</p>
    <p><em>@string.Join("-", Model.Wallet.Words)</em></p>
</div>