@model Amaze.Coin.Models.AppVm

@if (Model.IsNewAccount)
{
    @Html.Partial("NewWalletNotification", Model)
}

<div>
    Account address: @Model.Wallet.GetAccount(0).Address<br />
    Balance: <span id="balanceOf">@Model.Balance</span>
    
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        setInterval(function() {
                $.ajax({
                    url: '/home/checkbalance/'
                }).done(function(result) {
                    console.log('Updating balance', result);
                    $('#balanceOf').text(result);
                });
            },
            30000);
    });
</script>
